.profile {
    width: 200px;
    padding-bottom: 10px;
}
.title {
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
    color: var(--light2);
}
.description {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.linkButton {
    display: flex;
    flex-flow: column nowrap;
    height: 50px;
    margin: auto;
    color: black;
    &:active, &:hover {
        padding: 2px;
        img {
            filter: invert(1);
        }
    }
    img {
        height: 100%;
    }
}
.linkText {
    text-align: center;
    margin-top: -15px;
    font-weight: bold;
}