.layoutWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
@media screen and (max-width: 600px) {
    .layoutWrapper {
        flex-flow: row nowrap;
    }
}