.layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
.content {
    background-color: var(--light1);
    border: 2px solid var(--beige1);
    color: var(--beige2);
    flex: 1;
    margin: 20px auto;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .layout {
        flex-flow: row nowrap;
    }
}