/* Single Job View */
.topWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    align-items: center;
    .titleWrapper {
        padding-right: 20px;
        border-right: 3px solid;
        .title {
            font-size: 1.65rem;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-style: italic;
            font-weight: bold;
            letter-spacing: .15rem;
        }
        .subtitle {
            padding-bottom: 10px;
            font-size: 1.45rem;
            text-transform: uppercase;
            font-style: italic;
            letter-spacing: .05rem;
        }
    }
}
.midWrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding-left: 30px;
    line-height: 1.55rem;
    font-size: 1.05rem;
}
.bottomWrapper {
    margin-top: 20px;
    border-top: 3px solid black;
    display: flex;
    .span {
        border-right: 3px solid black;
        padding: 10px 10px 5px;
        font-style: italic;
        font-size: 1.25rem;
        letter-spacing: .05rem;
    }
}
.link {
    width: 50px;
}
.showMobile {
   display: none; 
}
/* List Job View */
.wrapper {
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    .tile:hover, .tile:focus {
        filter: opacity(.5);
    }
    .tile {
        width: 350px;
        height: 350px;
        position: relative;
        .tileTitle {
            position: absolute;
            width: 350px;
            height: 350px;
            top: 0;
            text-transform: uppercase;
            text-wrap: pretty;
            word-wrap: break-word;
            font-size: 4.5rem;
            text-align: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 600px) {
    .hideMobile {
        display: none;
    }
    .showMobile {
        display: flex; 
    }
    .topWrapper {
        flex-flow: column;
        text-align: center;
        justify-content: center;
        margin: 60px 20px 20px;
        width: 100%;
        .titleWrapper {
            padding: 0 0 10px;
            border: none;
        }
    }
    .midWrapper {
        padding: 0 25px;
    }
    .bottomWrapper {
        align-items: center;
        justify-content: space-between;
        .span {
            border-right: 0;
        }
    }
    .wrapper {
        margin: 60px 10px;
        .tile {
            width: 150px;
            height: 150px;
            .tileTitle {
                font-size: 2rem;
                width: 150px;
                height: 150px;
            }
        }
    }
}