:root {
  --white: #FFFCF7;
  --white10: #FFFFFF10;
  --white100: #FFFFFF;
  --white50: #FFFFFF80;
  --blue1: #B0F8FF;
  --light1: #FFF2E0;
  --light2: #FAE7D1;
  --beige1: #BBAD9C;
  --beige2: #5D564E;
  --link: #6A6282;
  /* --link: #7A64AD; */
  --link-visited: #908C9A;
  --link-active: #FE8474;
}
html, body, #root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background-color: var(--blue1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#root {
  background: var(--blue1) url('../public/background.jpg') no-repeat fixed center;
  background-size: cover;
}
a {
  color: var(--link);
  border-radius: 15px;
  padding: 2px 8px;
  text-decoration: none;
}
a:hover, a:active {
  color: var(--white100);
}