.title {
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 10px;
}
.subTitle {
    color: var(--beige1);
    font-style: italic;
    padding-bottom: 5px;
}
.listItem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}
.bullet {
    background-color: var(--link-active);
    min-width: 5px;
    height: 5px;
    margin: 5px;
}
.linkButton {
    align-self: self-end;
    font-variant: small-caps;
    display: inline-flex;
    div {
        padding: 4px 0 0 3px;
        transform: rotate(-90deg);
    }
}